<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linearlayout.chatbot20182">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CHATBOT ATGT"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivityChinh"/>
        <activity android:name=".MainActivityLaw" />
        <activity android:name=".MainActivitySign" />
        <activity android:name=".ShowLaw" />
        <activity android:name=".Chatchat" />
        <activity android:name=".AddLaw" />
        <activity android:name=".UpdateLaw" />
        <activity android:name=".DeleteLaw" />
        <activity android:name=".ShowSign" />
        <activity android:name=".AddSign" />
        <activity android:name=".UpdateSign" />
        <activity android:name=".DeleteSign" />
        <activity android:name=".MainActivityThongTin" />

        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>